* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ここからheader*/
header {
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

header .heading {
  font-size: 32px;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
/*ここまでheader*/

/*ここからmain*/
.main {
  display: flex; /*親要素に対して子要素を横並びにする*/
  justify-content: center; /*横並びの要素を中央寄せで配置する指定*/
  margin: 50px auto;
}

.outer {
  width: 800px;
  height: 600px;
  display: flex; /*親要素に対して子要素を横並びにする*/
  flex-wrap: wrap;
}

.inner1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.inner2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.inner3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.inner4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.inner5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.inner6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.inner7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.inner8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.inner9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.inner10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.inner11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.inner12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

/*ここまでmain*/

/*ここからfooter*/
footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}
/*ここまでfooter*/